/* Reset some default browser styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply some basic styles to the entire document */
body {
    /*font-family: 'Prata', serif;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: Arial, sans-serif;*/
    background-color: #f0f0f0;
    color: #333;
}

/* Style headings */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: whitesmoke;
}

p{
    font-size: 20px;
    margin-bottom: 15px;
    color: whitesmoke;
}

/* Style links */
a {
    text-decoration: none;
    color: #007bff;
}

/* Style paragraphs 
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}*/

/* profile picture */
.profile{
    width:300px;
    height: auto;
    border: 2px solid #007bff;
    border-radius: 5px;
}

body{
    background-color: #36454f;
}
#card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.details{
    /*border: 2px solid #007bff;*/
    margin-left: 30px;
}
.details .NameSpan{
    color: red;
}
.gitUrl a{
    font-size: 20px;
    margin-bottom: 15px;
    color: red;
}
footer{
    position: absolute;
}

