/* Reset some default browser styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply some basic styles to the entire document */
body {
    /*font-family: 'Prata', serif;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: Arial, sans-serif;*/
    background-color: #f0f0f0;
    color: #333;
}

/* Style headings */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: whitesmoke;
}

p{
    font-size: 20px;
    margin-bottom: 15px;
    color: whitesmoke;
}

/* Style links */
a {
    text-decoration: none;
    color: #007bff;
}

/* Style paragraphs 
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}*/

/* profile picture */
.profile{
    width:300px;
    height: auto;
    border: 5px solid #007bff;
    border-radius: 5px;
}

body{
    /*background-color: #36454f;*/
    background-color: rgb(197, 201, 204) 201 204;
}
#card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #36454f;
}
.details{
    margin-left: 30px;
    background-color: #36454f;
}
.details .NameSpan{
    color: yellow;
    font-size: larger;
    font-weight: bold;
}
.dtls-flex{
    display: flex;
}
.space-left{
    margin-left: 20px;
    color: yellow;
}

.gitUrl a{
    font-size: 20px;
    margin-bottom: 15px;
    color: blue;
}
footer{
    position: absolute;
}

@media (max-width: 477px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #36454f;
    }
    #card {
        display: block;
        height: 30px;
        /*background-color: #36454f;*/
    }
    .profile {
        width: 50%;
        height: auto;
        border: 3px solid #007bff;
        border-radius: 3px;
        margin-top: 50px;
        margin-left: 80px;

    }
    .details {
        margin-top: 30px;
        margin-left: 80px;
        background-color: #36454f;
        width: 150px;
        height: auto;

    }
    details .dtls-flex p {
        display: flex;
        font-size: 5px;
    }
    p {
        font-size: 10px;
    }
    .gitUrl a{
        font-size: 15px;
        margin-bottom: 15px;
        color: blue;
    }
    
}